Goal:

The goal of this project is to create a personalized recommender system using the Yelp dataset.

In [1]:
import pandas as pd 

# configure file path
user_filename = 'yelp_data/yelp_user.csv'
business_filename = 'yelp_data/yelp_business.csv'
review_filename = 'yelp_data/yelp_review.csv'

business = pd.read_csv(business_filename)
user = pd.read_csv(user_filename)
review = pd.read_csv(review_filename)

In [2]:
business.head()

,business_id,name,neighborhood,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,categories
0,FYWN1wneV18bWNgQjJ2GNg,"""Dental by Design""",NaN,"""4855 E Warner Rd, Ste B9""",Ahwatukee,AZ,85044,33.330690,-111.978599,4.0,22,1,Dentists;General Dentistry;Health & Medical;Or...
1,He-G7vWjzVUysIKrfNbPUQ,"""Stephen Szabo Salon""",NaN,"""3101 Washington Rd""",McMurray,PA,15317,40.291685,-80.104900,3.0,11,1,Hair Stylists;Hair Salons;Men's Hair Salons;Bl...
2,KQPW8lFf1y5BT2MxiSZ3QA,"""Western Motor Vehicle""",NaN,"""6025 N 27th Ave, Ste 1""",Phoenix,AZ,85017,33.524903,-112.115310,1.5,18,1,Departments of Motor Vehicles;Public Services ...
3,8DShNS-LuFqpEWIp0HxijA,"""Sports Authority""",NaN,"""5000 Arizona Mills Cr, Ste 435""",Tempe,AZ,85282,33.383147,-111.964725,3.0,9,0,Sporting Goods;Shopping
4,PfOCPjBrlQAnz__NXj9h_w,"""Brick House Tavern + Tap""",NaN,"""581 Howe Ave""",Cuyahoga Falls,OH,44221,41.119535,-81.475690,3.5,116,1,American (New);Nightlife;Bars;Sandwiches;Ameri...

In [3]:
business.shape

(174567, 13)

In [4]:
user.shape

(1326100, 22)

In [5]:
review.shape

(5261668, 9)

## Data Preprocessing

1. Choose businesses that have "Restaurants" and "Food" category

In [6]:
# create a mask for restaurants
restaurants = business['categories'].str.contains('Restaurants')

# create a mask for food
food = business['categories'].str.contains('Food')

# apply both masks

restaurants_and_food = business[restaurants | food]

# number of businesses that have food and restaurant in their category
restaurants_and_food['categories'].count()

69070

In [7]:
list_restaurants = list(restaurants_and_food['business_id'])
list_review_restaurants = list(review['business_id'])

In [8]:
review[review['business_id'].isin(list_restaurants)]

,review_id,user_id,business_id,stars,date,text,useful,funny,cool
0,vkVSCC7xljjrAI4UGfnKEQ,bv2nCi5Qv5vroFiqKGopiw,AEx2SYEUJmTxVVB18LlCwA,5,2016-05-28,Super simple place but amazing nonetheless. It...,0,0,0
1,n6QzIUObkYshz4dz2QRJTw,bv2nCi5Qv5vroFiqKGopiw,VR6GpWIda3SfvPC-lg9H3w,5,2016-05-28,Small unassuming place that changes their menu...,0,0,0
2,MV3CcKScW05u5LVfF6ok0g,bv2nCi5Qv5vroFiqKGopiw,CKC0-MOWMqoeWf6s-szl8g,5,2016-05-28,Lester's is located in a beautiful neighborhoo...,0,0,0
3,IXvOzsEMYtiJI0CARmj77Q,bv2nCi5Qv5vroFiqKGopiw,ACFtxLv8pGrrxMm6EgjreA,4,2016-05-28,Love coming here. Yes the place always needs t...,0,0,0
4,L_9BTb55X0GDtThi6GlZ6w,bv2nCi5Qv5vroFiqKGopiw,s2I_Ni76bjJNK9yG60iD-Q,4,2016-05-28,Had their chocolate almond croissant and it wa...,0,0,0
6,ymAUG8DZfQcFTBSOiaNN4w,u0LXt3Uea_GidxRW1xcsfg,9_CGhHMz8698M9-PkVf0CQ,4,2012-05-11,Who would have guess that you would be able to...,0,0,2
7,8UIishPUD92hXtScSga_gw,u0LXt3Uea_GidxRW1xcsfg,gkCorLgPyQLsptTHalL61g,4,2015-10-27,Always drove past this coffee house and wonder...,1,0,0
8,w41ZS9shepfO3uEyhXEWuQ,u0LXt3Uea_GidxRW1xcsfg,5r6-G9C4YLbC7Ziz57l3rQ,3,2013-02-09,"Not bad!! Love that there is a gluten-free, ve...",1,0,0
10,PIsUSmvaUWB00qv5KTF1xA,u0LXt3Uea_GidxRW1xcsfg,z8oIoCT1cXz7gZP5GeU5OA,4,2013-05-01,This is currently my parents new favourite res...,1,0,0
11,PdZ_uFjbbkjtm3SCY_KrZw,u0LXt3Uea_GidxRW1xcsfg,XWTPNfskXoUL-Lf32wSk0Q,3,2011-09-28,Server was a little rude.\n\nOrdered the calam...,5,0,1
13,lsoSqIrrDbQvWpMvsSj2xw,u0LXt3Uea_GidxRW1xcsfg,RtUvSWO_UZ8V3Wpj0n077w,3,2012-12-03,Wanted to check out this place due to all the ...,2,1,1
14,23eqwlZzCWZkADWfd9atZw,u0LXt3Uea_GidxRW1xcsfg,Aov96CM4FZAXeZvKtsStdA,5,2010-07-16,This place is awesome! Definitely authentic!!!...,2,0,1
15,FunI9om-aK5oMIIJmhMlZA,u0LXt3Uea_GidxRW1xcsfg,0W4lkclzZThpx3V65bVgig,4,2011-09-28,a must stop when you are in montreal!\n\nI was...,0,0,0
17,xdu8nXrbNKeaywCX79KZSw,u0LXt3Uea_GidxRW1xcsfg,PFPUMF38-lraKzLcTiz5gQ,3,2010-09-15,Came here with my girlfriends one Sunday after...,2,0,0
18,K7o5jDInfmX3cY5oH6ATNw,u0LXt3Uea_GidxRW1xcsfg,oWTn2IzrprsRkPfULtjZtQ,3,2012-09-23,Came here for a burger as one of my friends sa...,4,0,0
19,WYDFJOBOl7cycd7gN-c_xA,u0LXt3Uea_GidxRW1xcsfg,zgQHtqX0gqMw1nlBZl2VnQ,1,2012-10-30,really excited to hear of this restaurant comi...,9,2,1
20,HSR2RLOifd0cvSNVqGXkMQ,u0LXt3Uea_GidxRW1xcsfg,28adZ4lsuUeVB2aWzohK9g,3,2012-10-19,was always intrigued of this place when I pass...,1,0,0
21,Kki2nwtP8U2qmWwRvPwLRA,u0LXt3Uea_GidxRW1xcsfg,RWGI8u00x5GghYCEzpYrIg,4,2011-10-14,This place reminds of St Lawrence Market in To...,0,0,1
22,Q-mhDIKa3wJuWEx9uuciIA,u0LXt3Uea_GidxRW1xcsfg,Xy74meQwdTnloAAyRC-4cg,3,2013-07-01,burgers are very big portions here.\n\ndefinit...,0,0,0
23,ypjtMQLKdAwKGRS-KU7oxA,u0LXt3Uea_GidxRW1xcsfg,hjk3ox7w1akbEuOgTJ03Bw,1,2012-05-10,Food is very bland - not authentic at all.\n\n...,4,2,0
24,vr9YpzkaVdDIauxiZYZhqA,u0LXt3Uea_GidxRW1xcsfg,ZnxudK5ExgpfXs4bicS4IA,3,2012-09-23,While looking at different restaurants in the ...,0,0,1
25,Ia-w-nR1FrlzsiuEiqqlbg,u0LXt3Uea_GidxRW1xcsfg,Eox_Qq74oaFZ-YjthpHhBw,3,2011-07-18,Service is really slow here. I waited for over...,1,1,1
26,y21Fom8a_SdAyC6I0v554w,u0LXt3Uea_GidxRW1xcsfg,zxJlg4XCHNoFy78WZPv89w,2,2011-09-28,"a few years ago, this used to be the place to ...",0,0,0
27,_ku1sDwkmQo2wIgWAaluZw,u0LXt3Uea_GidxRW1xcsfg,tOhRQqiupLyJdBJVQMGOEQ,5,2012-09-23,OMG - Definitely worth going if you are in Mon...,1,1,1
28,Enuk_DJbK0JPmgbFU8ePKw,u0LXt3Uea_GidxRW1xcsfg,N93EYZy9R0sdlEvubu94ig,3,2012-09-23,"Not sure what the hype is, but decided to give...",0,0,0
30,reeZj98t_X1DrZgQgFs9Kg,u0LXt3Uea_GidxRW1xcsfg,4_GIJk0tX3k0x0FcUv4sNA,4,2010-07-26,Hidden on the east end of the Danforth is a lo...,4,0,0
31,z9e32TaBomM5uY7fHYqYKg,u0LXt3Uea_GidxRW1xcsfg,I8rveLd-dl81u6c8YqAxmw,1,2012-05-11,If you have not yet tried Wasabi - don't bothe...,3,0,0
32,rQgIiq1FJR8NwBJuWlUn7Q,u0LXt3Uea_GidxRW1xcsfg,a9aW5e731lplWGHUZ02-zQ,4,2013-02-09,Decided to try this place after reading the re...,0,0,0
34,zEDdYhDYYfvd8bSQqpc_ww,u0LXt3Uea_GidxRW1xcsfg,0-yj2jtzLUHG2b7PpEHyog,4,2010-01-15,"Hidden in the east end of the Danforth, who kn...",1,0,1
36,iFL5Iw972vd09fg87ElP9A,u0LXt3Uea_GidxRW1xcsfg,2QCZyAOB6xXKCdyFPvXXmw,4,2013-09-01,It's 3.5 stars but since I can't give half sta...,0,0,0
...,...,...,...,...,...,...,...,...,...
5261633,o-QGNfLQ36FtR-UK5H1TFA,67tsUtcLuP5mwTFm3-mrzA,Q7m8G4579-XYKV3LMW8V7g,4,2012-02-29,Walked across the street from HRH for a late l...,0,0,0
5261634,rTAhfrsng8ffoFOfUEPgyw,67tsUtcLuP5mwTFm3-mrzA,3kdSl5mo9dWC4clrQjEDGg,5,2012-02-15,I was here on Sunday 2\/12\/12. OMG let me say...,0,0,0
5261635,hGUr1put2E6TpqMeI6lFXw,4wA_CZT08V3d8cGaAWuXog,lLMJsTchKYF1O0fpNWpCRA,5,2016-06-10,I love this place!! I always stop by after wor...,0,0,0
5261636,eQrRirSSit5MdZdtoYuHuw,vPCYOCTMTixFXn1_60UjJQ,04u-szAykldu-caSDHQaKA,1,2013-10-28,Never again. Went there last nite with a frie...,0,0,0
5261637,_HubomG7kARyUVuemJbZbQ,vPCYOCTMTixFXn1_60UjJQ,LBAkHJJfCoDj9aa5sc0Mxw,1,2013-12-13,For anyone that is actually from Illinois to d...,2,1,1
5261641,RYeR5-BCV7lDNXCTklDgxw,yFDFtjcsaekCW15XKk8d3A,p2CcCRjOItvAQsI4DsTlHA,3,2012-08-23,Für einen gemütlichen Abend während unseres Ur...,0,0,0
5261642,Va8hQZYCDh3SCAROgfEZyA,mPjPyipaD0C_myqWqDipZg,096qNc7waeRlReivCm2lXw,3,2015-10-25,Cafeteria style setting. Was staying at the ho...,0,0,0
5261643,3LeAcgfaEYtGL16j3hGgig,mPjPyipaD0C_myqWqDipZg,YEILyeHAQTgEGogF46HYiw,4,2011-10-21,Was on the way to work and feel like having so...,1,0,1
5261644,M4Y_Fwfs2Mglb08z4BGzFg,mPjPyipaD0C_myqWqDipZg,OB8vZCzHXv9ZyKLTJe2K3g,1,2011-10-20,Was there for a wedding with your standard 10 ...,2,1,0
5261645,CIMhrYaTrldYxWqYlYPN-A,mPjPyipaD0C_myqWqDipZg,6y-z_jGX7PCUubMPFDbxVA,4,2011-10-18,Went there on a tuesday nite in a group of 13 ...,1,2,2
5261646,3SLi--RX6MZSsk4GrgqnPA,mPjPyipaD0C_myqWqDipZg,IikkB8j2E-1QmujRsPh5wQ,4,2012-06-07,It was 'oooh kay'...\n\nFood is slightly above...,0,0,0
5261647,y-6IJvH2M1H3Xmz5u9g5hg,mPjPyipaD0C_myqWqDipZg,I6oxEn1HT41S2GPrDKPPvA,1,2011-11-15,Went to this restaurant for Dim Sum. Asked fo...,7,1,0
5261648,Bafy91RpLI10hJmeKOQOuw,mPjPyipaD0C_myqWqDipZg,gnkyosoOepBUqog7iDdggQ,4,2015-10-25,"More like 3.75*.\n\nRamen was so - so, nothin...",0,1,1
5261649,z9wJdAjysjEOGSKBaIvMGg,mPjPyipaD0C_myqWqDipZg,OsB_ZtFAaLDCPzvlAjHQ-w,3,2017-10-31,"The restaurant closes at 10:00pm, I arrived at...",0,0,0
5261650,JldIaWJdtnTJVQxmh-3SAA,mPjPyipaD0C_myqWqDipZg,AtUtG-oQp1rkk6ZdYcfSzw,2,2017-11-02,Service:\n\nAverage Chinese cafe service. Hav...,0,0,0
5261651,aC7nxWLyM283uM78xry9mw,mPjPyipaD0C_myqWqDipZg,O-uIEuv7JLUHajkemx_sVw,2,2011-11-01,I really don't understand what is all the hype...,1,0,0
5261652,pX2pe-fnU1i2xzs1ght1mA,mPjPyipaD0C_myqWqDipZg,5VOqWjRXUPc7b1A_NSI9mQ,3,2011-10-20,Went there for lunch. For $6.99 you get:\n\n- ...,0,0,1
5261653,FJ0y1AnFAJ8MzNRZRdTJnw,mPjPyipaD0C_myqWqDipZg,yADOyFmSlHuixlQ4MtHhcQ,3,2012-05-05,Typical American style restaurant. By that I ...,1,1,0
5261655,C0uT2UJQ3yz9hqE4h3sy2A,mPjPyipaD0C_myqWqDipZg,n0NH0FW8NU3zfeJY3QluMQ,3,2015-10-25,Went in for a snack on a sat night. Bar area...,1,0,0
5261656,xq3eoPr_fJFNl_NVIxccvw,mPjPyipaD0C_myqWqDipZg,7d4_aSWLjzu9z778ac4g2g,2,2013-05-27,The decor is really nice and and clean and the...,1,0,0
5261657,Q76zOoiQklh62ZTmA4gJZQ,mPjPyipaD0C_myqWqDipZg,fp24IseF5LGD1Iev7d0PVA,4,2011-10-20,I cannot believe this place have such few revi...,5,0,1
5261658,gls24x_dYK8mYbxlVTHycw,mPjPyipaD0C_myqWqDipZg,GM3_MoAgPcyE1ozWxjy-XA,4,2012-08-18,Went with +6 people and ordered whole bunch of...,1,0,0
5261659,MV8UTz9z_-4FG-nI8TOjPQ,mPjPyipaD0C_myqWqDipZg,MRoTUJyR2TVpvDdbOAtBlQ,4,2014-06-26,Was in the area and saw a Hakka Chinese Restau...,2,0,0
5261660,dyW1tIaWbm_RfCFCffY9yg,mPjPyipaD0C_myqWqDipZg,Dv0OHpQSL4hOGl2KAEVvlA,2,2012-05-05,"Not much to write about, food is mediocre at b...",0,1,0
5261661,ZU2UF0YBkhQFctXH5Mry3A,mPjPyipaD0C_myqWqDipZg,CMkayuNDHPcd1dxO32kJyA,1,2012-05-24,This place is retarded!!! Called on a thursda...,4,4,1
5261662,evfB2Xzw4u7aYftWClQfeg,mPjPyipaD0C_myqWqDipZg,--SrzpvFLwP_YFwB_Cetow,2,2011-10-18,"So after reading Precilla C. review, I decided...",0,0,0
5261664,-CJNPrDWgIkorx4iEZJXIg,mPjPyipaD0C_myqWqDipZg,pOEL97ld-FJMKO8Ki8JmYg,3,2016-04-30,"Spring rolls was pretty good, cod was a bit ra...",0,0,0
5261665,W9eVvOcpBvG6lpJPoJOxuA,mPjPyipaD0C_myqWqDipZg,5ubokMNw8qfbX2WtxgJG1Q,4,2011-10-23,"Had a 8 dish set meal, was enough for 10 peopl...",3,0,1
5261666,hqQ1UTFKMN2P1ezUow48OQ,mPjPyipaD0C_myqWqDipZg,EO3i5kTUG7_S2OIQ23sdSA,3,2011-11-07,"A small, cozy family run Authentic korean rest...",2,0,0
5261667,ldsIs3sGXPJ7WM7VyAm4lQ,mPjPyipaD0C_myqWqDipZg,HloEEXm_QzEpycuwA_RtQA,3,2011-11-15,Really nice atmosphere and settings and very c...,0,1,1

In [9]:
print("# of restaurants: ", len(review[review['business_id'].isin(list_restaurants)]))

# of restaurants:  3540133

In [10]:
business = business[business['business_id'].isin(list_restaurants)]

In [11]:
review = review[review['business_id'].isin(list_restaurants)]

Now review reduced to 3,540,133 reviews

In [12]:
len(review)

3540133

2. Reduce the reviews written by users with less than 3 reviews

In [13]:
user.head()

,user_id,name,review_count,yelping_since,friends,useful,funny,cool,fans,elite,...,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos
0,JJ-aSuM4pCFPdkfoZ34q0Q,Chris,10,2013-09-24,"0njfJmB-7n84DlIgUByCNw, rFn3Xe3RqHxRSxWOU19Gpg...",0,0,0,0,None,...,0,0,0,0,0,0,0,0,0,0
1,uUzsFQn_6cXDh6rPNGbIFA,Tiffy,1,2017-03-02,None,0,0,0,0,None,...,0,0,0,0,0,0,0,0,0,0
2,mBneaEEH5EMyxaVyqS-72A,Mark,6,2015-03-13,None,0,0,0,0,None,...,0,0,0,0,0,0,0,0,0,0
3,W5mJGs-dcDWRGEhAzUYtoA,Evelyn,3,2016-09-08,None,0,0,0,0,None,...,0,0,0,0,0,0,0,0,0,0
4,4E8--zUZO1Rr1IBK4_83fg,Lisa,11,2012-07-16,None,4,0,0,0,None,...,0,0,0,0,0,0,0,0,1,0

In [14]:
user.review_count.value_counts()

1       244232
2       166170
3       125947
4        89844
5        68334
6        54448
7        44497
8        37465
9        32321
10       28455
11       25273
12       22297
13       20032
14       18290
15       16529
16       15134
17       13832
18       12481
19       11723
20       10844
21        9879
22        9173
23        8434
24        8027
25        7650
26        7084
27        6589
28        6152
29        5855
30        5601
         ...
1272         1
1797         1
1271         1
1799         1
1270         1
1269         1
1801         1
1268         1
2293         1
753          1
1281         1
5868         1
1288         1
1753         1
1297         1
1755         1
1294         1
1760         1
1761         1
1289         1
2313         1
1282         1
1770         1
1771         1
2310         1
1285         1
1284         1
1283         1
2306         1
1455         1
Name: review_count, Length: 1719, dtype: int64

In [15]:
review_counts = pd.DataFrame(user.groupby('review_count').size(), columns=['count'])
review_counts

               count
review_count
0               1272
1             244232
2             166170
3             125947
4              89844
5              68334
6              54448
7              44497
8              37465
9              32321
10             28455
11             25273
12             22297
13             20032
14             18290
15             16529
16             15134
17             13832
18             12481
19             11723
20             10844
21              9879
22              9173
23              8434
24              8027
25              7650
26              7084
27              6589
28              6152
29              5855
...              ...
3268               1
3275               1
3468               1
3477               1
3528               1
3644               1
3711               1
3734               1
3855               1
3903               1
3906               1
3952               1
3957               1
4019               1
4023               1
4051               1
4063               1
4338               1
4537               1
4559               1
4634               1
5344               1
5868               1
6314               1
6653               1
7764               1
8353               1
9788               1
11323              1
11954              1

[1719 rows x 1 columns]

In [16]:
orignal_user = len(user)

In [17]:
print("# of users with less than 3 reviews: ", len(user[user.review_count < 3]) / orignal_user)

# of users with less than 3 reviews:  0.3104396350199834

In [18]:
avg = sum(user['review_count'])/(orignal_user)
print("average counts: ", avg)

average counts:  23.117172913053313

In [19]:
list_more_rating_userID = user[user.review_count>=3]['user_id']

In [20]:
review = review[review['user_id'].isin(list_more_rating_userID)]

3. Remove restaurants with less reviews

Most of restaurants have more than 3 reviews
==> decide not to remove

In [21]:
review_counts = pd.DataFrame(business.groupby('review_count').size(), columns=['count'])
review_counts

              count
review_count
3              7270
4              4789
5              3794
6              3249
7              2750
8              2217
9              2043
10             1851
11             1676
12             1520
13             1388
14             1209
15             1207
16             1112
17              982
18              967
19              924
20              832
21              780
22              703
23              703
24              711
25              667
26              606
27              606
28              572
29              550
30              516
31              460
32              467
...             ...
2349              1
2360              1
2440              1
2448              1
2490              1
2502              1
2549              1
2594              1
2595              1
2674              1
2703              1
2771              1
2935              1
3012              1
3050              1
3065              1
3262              1
3444              1
3570              1
3741              1
3838              1
3910              1
3964              1
4018              1
4774              1
4869              1
5447              1
5950              1
7009              1
7361              1

[996 rows x 1 columns]

In [22]:
review.shape

(3288978, 9)

In [23]:
from sklearn.preprocessing import LabelEncoder  
le = LabelEncoder()
review['userID'] = le.fit_transform(review['user_id'])

In [24]:
review_encode = LabelEncoder()
review['businessID'] = review_encode.fit_transform(review['business_id'])

In [25]:
review.drop(columns=['user_id','business_id'])

,review_id,stars,date,text,useful,funny,cool,userID,businessID
0,vkVSCC7xljjrAI4UGfnKEQ,5,2016-05-28,Super simple place but amazing nonetheless. It...,0,0,0,450222,12060
1,n6QzIUObkYshz4dz2QRJTw,5,2016-05-28,Small unassuming place that changes their menu...,0,0,0,450222,34995
2,MV3CcKScW05u5LVfF6ok0g,5,2016-05-28,Lester's is located in a beautiful neighborhoo...,0,0,0,450222,14291
3,IXvOzsEMYtiJI0CARmj77Q,4,2016-05-28,Love coming here. Yes the place always needs t...,0,0,0,450222,12011
4,L_9BTb55X0GDtThi6GlZ6w,4,2016-05-28,Had their chocolate almond croissant and it wa...,0,0,0,450222,60410
6,ymAUG8DZfQcFTBSOiaNN4w,4,2012-05-11,Who would have guess that you would be able to...,0,0,2,654370,11298
7,8UIishPUD92hXtScSga_gw,4,2015-10-27,Always drove past this coffee house and wonder...,1,0,0,654370,48237
8,w41ZS9shepfO3uEyhXEWuQ,3,2013-02-09,"Not bad!! Love that there is a gluten-free, ve...",1,0,0,654370,7308
10,PIsUSmvaUWB00qv5KTF1xA,4,2013-05-01,This is currently my parents new favourite res...,1,0,0,654370,68068
11,PdZ_uFjbbkjtm3SCY_KrZw,3,2011-09-28,Server was a little rude.\n\nOrdered the calam...,5,0,1,654370,37262
13,lsoSqIrrDbQvWpMvsSj2xw,3,2012-12-03,Wanted to check out this place due to all the ...,2,1,1,654370,31114
14,23eqwlZzCWZkADWfd9atZw,5,2010-07-16,This place is awesome! Definitely authentic!!!...,2,0,1,654370,12684
15,FunI9om-aK5oMIIJmhMlZA,4,2011-09-28,a must stop when you are in montreal!\n\nI was...,0,0,0,654370,1685
17,xdu8nXrbNKeaywCX79KZSw,3,2010-09-15,Came here with my girlfriends one Sunday after...,2,0,0,654370,28287
18,K7o5jDInfmX3cY5oH6ATNw,3,2012-09-23,Came here for a burger as one of my friends sa...,4,0,0,654370,56631
19,WYDFJOBOl7cycd7gN-c_xA,1,2012-10-30,really excited to hear of this restaurant comi...,9,2,1,654370,68660
20,HSR2RLOifd0cvSNVqGXkMQ,3,2012-10-19,was always intrigued of this place when I pass...,1,0,0,654370,3391
21,Kki2nwtP8U2qmWwRvPwLRA,4,2011-10-14,This place reminds of St Lawrence Market in To...,0,0,1,654370,30736
22,Q-mhDIKa3wJuWEx9uuciIA,3,2013-07-01,burgers are very big portions here.\n\ndefinit...,0,0,0,654370,37752
23,ypjtMQLKdAwKGRS-KU7oxA,1,2012-05-10,Food is very bland - not authentic at all.\n\n...,4,2,0,654370,49318
24,vr9YpzkaVdDIauxiZYZhqA,3,2012-09-23,While looking at different restaurants in the ...,0,0,1,654370,39724
25,Ia-w-nR1FrlzsiuEiqqlbg,3,2011-07-18,Service is really slow here. I waited for over...,1,1,1,654370,17038
26,y21Fom8a_SdAyC6I0v554w,2,2011-09-28,"a few years ago, this used to be the place to ...",0,0,0,654370,68959
27,_ku1sDwkmQo2wIgWAaluZw,5,2012-09-23,OMG - Definitely worth going if you are in Mon...,1,1,1,654370,61872
28,Enuk_DJbK0JPmgbFU8ePKw,3,2012-09-23,"Not sure what the hype is, but decided to give...",0,0,0,654370,26083
30,reeZj98t_X1DrZgQgFs9Kg,4,2010-07-26,Hidden on the east end of the Danforth is a lo...,4,0,0,654370,5943
31,z9e32TaBomM5uY7fHYqYKg,1,2012-05-11,If you have not yet tried Wasabi - don't bothe...,3,0,0,654370,20687
32,rQgIiq1FJR8NwBJuWlUn7Q,4,2013-02-09,Decided to try this place after reading the re...,0,0,0,654370,41149
34,zEDdYhDYYfvd8bSQqpc_ww,4,2010-01-15,"Hidden in the east end of the Danforth, who kn...",1,0,1,654370,1143
36,iFL5Iw972vd09fg87ElP9A,4,2013-09-01,It's 3.5 stars but since I can't give half sta...,0,0,0,654370,3673
...,...,...,...,...,...,...,...,...,...
5261629,40SDdd73-Yzom5JG4rJ44Q,4,2017-05-17,I think I may have stayed at a different LVH t...,0,0,0,537490,24575
5261630,R8YAv0W6mU-r_q8406dryQ,5,2012-02-29,This was our first experience at Lawry's and i...,0,0,0,80554,30588
5261633,o-QGNfLQ36FtR-UK5H1TFA,4,2012-02-29,Walked across the street from HRH for a late l...,0,0,0,80554,29267
5261634,rTAhfrsng8ffoFOfUEPgyw,5,2012-02-15,I was here on Sunday 2\/12\/12. OMG let me say...,0,0,0,80554,5096
5261636,eQrRirSSit5MdZdtoYuHuw,1,2013-10-28,Never again. Went there last nite with a frie...,0,0,0,669978,1241
5261637,_HubomG7kARyUVuemJbZbQ,1,2013-12-13,For anyone that is actually from Illinois to d...,2,1,1,669978,23979
5261642,Va8hQZYCDh3SCAROgfEZyA,3,2015-10-25,Cafeteria style setting. Was staying at the ho...,0,0,0,569173,1307
5261643,3LeAcgfaEYtGL16j3hGgig,4,2011-10-21,Was on the way to work and feel like having so...,1,0,1,569173,38041
5261644,M4Y_Fwfs2Mglb08z4BGzFg,1,2011-10-20,Was there for a wedding with your standard 10 ...,2,1,0,569173,27131
5261645,CIMhrYaTrldYxWqYlYPN-A,4,2011-10-18,Went there on a tuesday nite in a group of 13 ...,1,2,2,569173,8469
5261646,3SLi--RX6MZSsk4GrgqnPA,4,2012-06-07,It was 'oooh kay'...\n\nFood is slightly above...,0,0,0,569173,21337
5261647,y-6IJvH2M1H3Xmz5u9g5hg,1,2011-11-15,Went to this restaurant for Dim Sum. Asked fo...,7,1,0,569173,20652
5261648,Bafy91RpLI10hJmeKOQOuw,4,2015-10-25,"More like 3.75*.\n\nRamen was so - so, nothin...",0,1,1,569173,48290
5261649,z9wJdAjysjEOGSKBaIvMGg,3,2017-10-31,"The restaurant closes at 10:00pm, I arrived at...",0,0,0,569173,27923
5261650,JldIaWJdtnTJVQxmh-3SAA,2,2017-11-02,Service:\n\nAverage Chinese cafe service. Hav...,0,0,0,569173,12764
5261651,aC7nxWLyM283uM78xry9mw,2,2011-11-01,I really don't understand what is all the hype...,1,0,0,569173,26944
5261652,pX2pe-fnU1i2xzs1ght1mA,3,2011-10-20,Went there for lunch. For $6.99 you get:\n\n- ...,0,0,1,569173,6937
5261653,FJ0y1AnFAJ8MzNRZRdTJnw,3,2012-05-05,Typical American style restaurant. By that I ...,1,1,0,569173,66997
5261655,C0uT2UJQ3yz9hqE4h3sy2A,3,2015-10-25,Went in for a snack on a sat night. Bar area...,1,0,0,569173,55005
5261656,xq3eoPr_fJFNl_NVIxccvw,2,2013-05-27,The decor is really nice and and clean and the...,1,0,0,569173,9185
5261657,Q76zOoiQklh62ZTmA4gJZQ,4,2011-10-20,I cannot believe this place have such few revi...,5,0,1,569173,47299
5261658,gls24x_dYK8mYbxlVTHycw,4,2012-08-18,Went with +6 people and ordered whole bunch of...,1,0,0,569173,18755
5261659,MV8UTz9z_-4FG-nI8TOjPQ,4,2014-06-26,Was in the area and saw a Hakka Chinese Restau...,2,0,0,569173,25339
5261660,dyW1tIaWbm_RfCFCffY9yg,2,2012-05-05,"Not much to write about, food is mediocre at b...",0,1,0,569173,16049
5261661,ZU2UF0YBkhQFctXH5Mry3A,1,2012-05-24,This place is retarded!!! Called on a thursda...,4,4,1,569173,14334
5261662,evfB2Xzw4u7aYftWClQfeg,2,2011-10-18,"So after reading Precilla C. review, I decided...",0,0,0,569173,11
5261664,-CJNPrDWgIkorx4iEZJXIg,3,2016-04-30,"Spring rolls was pretty good, cod was a bit ra...",0,0,0,569173,57551
5261665,W9eVvOcpBvG6lpJPoJOxuA,4,2011-10-23,"Had a 8 dish set meal, was enough for 10 peopl...",3,0,1,569173,7359
5261666,hqQ1UTFKMN2P1ezUow48OQ,3,2011-11-07,"A small, cozy family run Authentic korean rest...",2,0,0,569173,16541
5261667,ldsIs3sGXPJ7WM7VyAm4lQ,3,2011-11-15,Really nice atmosphere and settings and very c...,0,1,1,569173,20260

In [26]:
pd.DataFrame(review.groupby('date').size(), columns=['count'])

            count
date
2004-10-12      1
2004-10-19      5
2004-12-19      2
2005-01-24      1
2005-01-26      3
2005-03-03      4
2005-03-04      2
2005-03-08      1
2005-03-09      1
2005-03-10      2
2005-03-11      3
2005-03-12      4
2005-03-14     12
2005-03-16      1
2005-03-17      1
2005-03-18      1
2005-03-20      2
2005-03-25      2
2005-03-29      1
2005-04-01      1
2005-04-04      1
2005-04-07      1
2005-04-08      2
2005-04-10      1
2005-04-13      2
2005-04-14      3
2005-04-15      6
2005-04-19      3
2005-04-20      1
2005-04-22      2
...           ...
2017-11-12   2326
2017-11-13   1850
2017-11-14   1607
2017-11-15   1617
2017-11-16   1603
2017-11-17   1622
2017-11-18   2075
2017-11-19   2137
2017-11-20   1764
2017-11-21   1671
2017-11-22   1668
2017-11-23   1262
2017-11-24   1223
2017-11-25   1885
2017-11-26   2206
2017-11-27   1894
2017-11-28   1735
2017-11-29   1674
2017-11-30   1506
2017-12-01   1542
2017-12-02   1836
2017-12-03   1966
2017-12-04   1786
2017-12-05   1808
2017-12-06   1922
2017-12-07   1594
2017-12-08   1491
2017-12-09   1811
2017-12-10   2040
2017-12-11    853

[4519 rows x 1 columns]

Sort review file by date and split them into train and test (70:30).

In [27]:
review_sort = review.sort_values('date')

In [29]:
len(review_sort[review_sort.date < "2016-07-01"])/len(review_sort)

0.7057754718943088

In [30]:
from sklearn.model_selection import train_test_split
train = review_sort[review_sort.date < "2016-07-01"]
test = review_sort[review_sort.date >= "2016-07-01"]

In [ ]:
#pd.DataFrame(train.groupby('date').size(), columns=['count'])

In [ ]:
#pd.DataFrame(test.groupby('date').size(), columns=['count'])

In [31]:
print('train size: ', len(train))
print('test size: ', len(test))

train size:  2321280
test size:  967698

In [32]:
train.drop(columns=['user_id','business_id'])

,review_id,stars,date,text,useful,funny,cool,userID,businessID
5205788,_CRpX4FGBkxie_1q0-DbjQ,5,2004-10-12,Hole in the wall burrito joint with the BEST b...,1,0,1,634199,28250
4665147,0QHCY_55TFHHvyumEMpDew,4,2004-10-19,Good stuff. Pricey by normal pizza standards.,0,1,0,584070,62649
4665130,1Iobyi_7BkFON25Oegs0aw,4,2004-10-19,Love their subs. Cheap and top shelf ingredients.,0,0,0,584070,16740
2772361,JDBubAcRw4FXfg1c5xk-dA,5,2004-10-19,Best pizza I've ever had. My favorite is the ...,2,0,0,452344,62649
4665146,pho1XNCTeRxQVzWR_5vacg,4,2004-10-19,Pokey Sticks are the best!,0,0,0,584070,12759
4665143,2F5J51OYtD49eyIUKJKVgg,4,2004-10-19,Love their pizza. They used to have a great ta...,0,0,0,584070,56662
1303380,Ef1skKLKZ9izwBmreb_-qw,4,2004-12-19,"Frequently busy due to their great food, but t...",1,1,1,79576,67520
938191,6POnAs_4MijROSKeOevXHQ,3,2004-12-19,Not the best part of town. Not particularly g...,0,0,0,79576,25988
917340,Dm7Jh7tVp_97sOxEYH4DnA,4,2005-01-24,"This is a little bit off the strip, but the vi...",0,0,0,357039,24575
3383314,gfPLT7BTqd2mJQ449BTrpw,4,2005-01-26,"Fresh shrimp, crab legs to enjoy. Prime Ribs &...",0,0,0,14195,39666
917339,Z54-ssb69Mx_lG1YtJ6N1g,5,2005-01-26,Hella food there!! Cocktail shrimps are great!...,0,0,0,357039,39666
3383313,pAugo1esC40DFFsXzcxpQA,4,2005-01-26,Great food. Lots of selection. Big Portion. A ...,0,0,0,14195,24124
3531475,c7eRXiLQrCLD9BeMUGQc8Q,5,2005-03-03,Sophia's is like that girlfriend you broke up ...,2,4,2,206900,21101
3531512,39ukJIrbqD1Pk5V16B5weA,5,2005-03-03,Easily my favorite place to eat in Madison. G...,1,0,0,206900,34921
3531466,A7zuhSlkOkTs1G6_hDniPg,4,2005-03-03,Omelettes that have killed lesser men than me....,1,2,0,206900,66617
3464676,mglmQCiUpAVVYHbO62d87g,3,2005-03-03,Nice little dive bar at the end of Willy St. ...,0,2,1,206900,14018
3608271,8AIs-KQ8JmSv3QCNRCikTQ,4,2005-03-04,"Incredible asian fusion, and an impressive sak...",1,0,0,177735,12543
3531487,YADzRq2fuu7Krlj6SfSFxA,4,2005-03-04,Ideal lunch at Dotty's in downtown Madison: Sp...,0,0,0,206900,24370
3383065,NB4E9LQKJxo0SPnWV6taCQ,5,2005-03-08,The hands-down best pizza in the world. Chef a...,0,0,3,96123,57622
3480524,dDr-sU4GsDqsZc8ehSjvyA,5,2005-03-09,Watch out for the wine angel. Another winner f...,0,0,0,96123,25776
1981024,yobihE_NImkwkDFBIpWgGQ,3,2005-03-10,they have shuffleboard. that's about it. goo...,0,0,0,456493,7354
1981020,PhCDcT0pCHyExCObNMXxSg,5,2005-03-10,it is awesome. they make a pork burrito that ...,0,0,0,456493,39027
3464669,DzT7nFUWIJMEvLLdosKOgw,5,2005-03-11,Easily the best pizza you can have delivered i...,0,0,0,206900,63635
4622542,xZFJ3Jy_gtD4R6p7Oj4ZaQ,5,2005-03-11,"Love the California Roll and Miso Soup, cheap ...",0,0,0,235100,64419
4622544,leZdjfXSl6yvUt0762JYYQ,5,2005-03-11,Cead Mille Failte! One thousand and one welco...,0,0,0,235100,63193
1981013,nCqePFVx2sLfj8R37nx05A,4,2005-03-12,"brocach means ""badger hole"" so that's what we...",0,0,0,456493,63193
1981027,tsWTfQkA_vP7VVF0CR-5QA,3,2005-03-12,the fried cheese will destroy you. this is th...,0,0,0,456493,62994
1981021,tpAT6uogrzWT-zE4iJGpxQ,5,2005-03-12,the best breakfast you will ever eat. she get...,0,1,0,456493,63369
1981017,zCayKrw5KiukRSPXY2oeKw,4,2005-03-12,"one of the first bars in madison, it has also ...",0,1,0,456493,14018
3531444,bocHa8b_eqG6kUh8Nq3gVA,3,2005-03-14,"Good ""Mexican"" food. Fast. Cheap. A great p...",1,0,1,206900,3971
...,...,...,...,...,...,...,...,...,...
210094,Jr6F2E_cotEZSFpi0izfCw,5,2016-06-30,"I stopped in for lunch today, drawn in finally...",1,1,1,327021,53958
1887498,Pm6HEkwJWltGx9AnE1iS3A,3,2016-06-30,"I found this place via google, and was very in...",1,0,0,270636,45824
3133243,OkRrHZ5vuDyN7OgIMy3-zw,5,2016-06-30,It's great actually! You know I only paid $3 f...,0,0,0,20233,5037
450790,ZTiWcLr814dpdTHUf7-niQ,2,2016-06-30,I hated this restaurant. The pickles looked a...,4,3,0,399136,2629
5188376,xaetNfVgTyseiHG37KFhjw,5,2016-06-30,I came across this place bc i saw there was a ...,0,0,0,125393,43760
1309716,l1tkjbovp8bxkdgLDC1_lg,3,2016-06-30,Went there today for lunch. My daughter and he...,0,0,0,116082,26078
2498181,N-w6sX0QzjQ-P_ft4QVwjQ,4,2016-06-30,Service is good. Prices aren't bad. Pastries a...,0,0,0,307527,23828
4348809,Iw-K4-pDVBtpdwxetW0pvQ,1,2016-06-30,Bland food although great service. Expensive f...,0,0,0,546630,23477
5186614,5N58e7wo3g4wl9ScO0j5ag,5,2016-06-30,Waiter was attentive and even went out of his ...,0,0,0,505774,306
4657068,24GHcms_sXYfjvmop75ExQ,5,2016-06-30,Loved this place the one time I went. Best pie...,0,0,0,678057,52740
942107,MnSMGCSYaK89PHsXa66myQ,4,2016-06-30,"Came here on a Wednesday night with a friend, ...",1,0,0,530990,5590
4001433,JqfEdj6v0MGPdymJT44p7g,5,2016-06-30,"I had the rainbow roll, yellowtail and strippe...",0,0,0,369245,57287
3275507,mB6bMPtiyiAN7WmBAaZ8Mg,4,2016-06-30,Imma fixin to get me some good ole BBQ and was...,24,21,21,594232,14589
2982607,JH6BAVCaFfGM1C9gpj-J9Q,2,2016-06-30,Our party of 6 went here for the jazz brunch b...,0,0,0,491594,5393
4070466,3v2t8fGm80UUPdU1xIVPRQ,5,2016-06-30,Excellent spot for whiskey - great atmosphere ...,0,0,0,573752,35259
2128749,p-jDpMXfvq0TlyXZ78hpDQ,3,2016-06-30,Both staff and atmosphere is fantastic. They ...,0,0,0,132249,35546
4207872,lAiQFX82qcwLJFNZkby6HQ,4,2016-06-30,This is probably the best HK style cafe we've ...,0,0,0,583687,42055
492863,yfi44yp4z9Y1E59bCCOBYA,2,2016-06-30,Stumbled onto this place because the sandwich ...,0,0,0,114761,63853
3345335,uUqru0H34uK9vIQe3RFYJA,3,2016-06-30,Of course I saw this place on DDD. I had high ...,0,0,0,277627,10094
1514594,wlrpz_NwVjejbR8dTra1Kw,4,2016-06-30,Got a flier on my doorknob for a 2-topping lar...,1,1,1,663142,42835
4348924,YVM1Yk241kfTLbe2NoaSWw,4,2016-06-30,"Cheap price, big portion, great broth definite...",0,0,0,113836,25089
1787316,NUnmy8K6LYNw6ZH1qWlNzw,5,2016-06-30,Japanese tapas - really good Japanese tapas. T...,0,0,0,191952,65239
3404051,k6icoreGo85spSusDDg_Kg,5,2016-06-30,"From the spinning salad to the bread pudding, ...",6,0,3,461382,30588
5186615,7fHNsZNC9wRAovl054zbEA,2,2016-06-30,Food was just ok. There were only three rolls...,2,0,0,505774,31246
4453992,Cvn6ZNykxwK_oNShyl-xFA,1,2016-06-30,I've only ever ordered from this place but hon...,2,1,1,43755,39948
3485381,IrymkgcwhKwkFy1I1dzQWA,5,2016-06-30,Devoured most of the carne asada fries. Defini...,0,0,0,102277,31162
2877185,NQGUGaVgDphFnP8eMbZHgA,4,2016-06-30,Great dining spot that is open 24\/7! I defini...,0,0,3,673254,17084
4910223,ObrAj8MFxyOz_w-NHxeDqA,4,2016-06-30,We loved this place! From the amazing staff t...,0,0,0,48555,32125
4348808,HYnmUUhtEoE078sPycdacQ,5,2016-06-30,Tripped over this restaurant last week. 5 of u...,0,0,0,546630,48732
5188377,UFbhj1U9ZAcR0e0pGXnBmA,5,2016-06-30,Very small location on the strip located acros...,2,0,0,125393,42914

In [33]:
test.drop(columns=['user_id','business_id'])

,review_id,stars,date,text,useful,funny,cool,userID,businessID
1180491,DDa-dpkuE_LbIFdHIdoHJw,5,2016-07-01,This is by far the best Pho I've had! The brot...,1,0,0,33599,61285
1098449,lmOZ83aVHU9UTFSzvVOtPw,2,2016-07-01,I made a point to visit one of the best macaro...,0,0,0,338324,17223
734750,lXbTrDHAspvIDNPeERcEEA,5,2016-07-01,I'm a huge fan of trying different foods off m...,1,1,2,551002,44402
2708053,tDt7XDKljeKbBqRXO7gtLQ,5,2016-07-01,Was visiting from out of town. Love this place...,1,0,0,165211,19733
3355833,yCdQily0gmZgFrN_FwFa8Q,1,2016-07-01,One thing I can't stand is poor service. First...,3,0,0,633853,55110
118838,XZprMf4oZ-TI_MbBvuFEiw,3,2016-07-01,"Taco Tuesday, this is the place to be... The ...",0,0,0,217556,20075
3614410,hn4VaUaOdDx9wjoej42l1A,4,2016-07-01,Finally had a chance to visit this place.\nI h...,4,2,4,325348,15597
1965040,6jLdT1NWrMn9nxY2xVMRNg,4,2016-07-01,This restaurant is literally one of a kind. Ch...,3,1,1,244522,40973
1891419,tbMMl-kyk_u470TGRB5roQ,2,2016-07-01,Tried this place out for the first time last w...,1,0,0,156227,32628
2708054,6Ea-t19Zhr4o123z87PElA,5,2016-07-01,Just amazing! Visiting from out of town and we...,0,0,0,165211,44264
1179889,YajaUuorGh0kvMukKwrcxQ,1,2016-07-01,If I could give this location no starts I woul...,0,1,0,276771,46307
4715575,O3gelzmRqsH5usdQPMN2SQ,5,2016-07-01,This place is so good! I have been here 3 time...,0,0,0,100347,45803
3551637,gnVMjOxLUeoiO15GZpoX6A,5,2016-07-01,"Absolutely adore this place, tried the food on...",0,0,0,448099,53927
734748,0SdCNMZeg6tEnid0eyw-3g,5,2016-07-01,This is a benchmark for tastes of Italian cuis...,0,0,0,551002,27485
1218248,fQ4yD5u5wB5I3u72Ebo_UQ,5,2016-07-01,One of the absolute-best restaurants in Arizon...,4,1,2,23324,3948
3054858,pszEZsW_S0bDiErpjqLO6g,5,2016-07-01,Well the burgers and beer were great! It was a...,0,0,0,151803,49234
1218290,hC4iqSR6Ju13yOb1L64fEg,3,2016-07-01,Pretty weak cheesesteak. The fries were crispy...,1,0,0,23324,65309
2479979,XhIDf6ObSN1Oc9t0aLetpA,1,2016-07-01,HORRIBLE service when I ate here. The business...,3,0,0,106254,45714
4715660,-pZ8myw8bGOqFtQZARxbsA,5,2016-07-01,Love Yardhouse! I have been to various Yarhous...,0,0,0,100347,11899
1218250,w5yis6vPaW2y3w9mGfRVgg,4,2016-07-01,Fantastic but overrated (obviously). If you cl...,0,0,0,23324,57622
1333140,WfpWwwNEFJJa_gYkublzeQ,5,2016-07-01,"Ocotillo overs so many options! The brunch , t...",1,1,1,40949,16974
1217838,mF53soa7DitiZkeFwGEX2g,4,2016-07-01,"I loved the price for the buffet, they have It...",1,2,0,397839,387
4715629,2xdJeoyHwDhUUlW2qaHLww,3,2016-07-01,Not my favorite place to go for Japanese food....,1,0,0,100347,27082
2479969,zZfCAreS_zLFFS2lR-i5AQ,3,2016-07-01,"I had the chicken barg keba, charbroiled seaso...",0,0,0,106254,37896
1389174,g4llNCVW32beTit5Yv2kkg,5,2016-07-01,I had the salmon burger and it was very very g...,1,0,0,646745,4312
2969856,p0Tr9c_ihiyuw_Gvb57org,5,2016-07-01,Decided to treat my family to dinner so we cam...,2,0,3,6269,60709
4768708,_mMPvZkugjE5dU-fvZHSCw,5,2016-07-01,Very flavorful and affordable!! Really enjoyed...,0,0,0,391153,262
1098442,pgJmyMvzVeu7v-5lA4gPeQ,5,2016-07-01,Their Japanese Cheesecake is the real deal!! F...,0,0,0,338324,19150
349225,7wGTYg4JMgf8NayddF9Kow,5,2016-07-01,You won't find better people and\/or better fo...,0,0,0,703050,3759
1218286,Nr1EGCLsU0165fwK86wevg,4,2016-07-01,"Pretty much the best pizza around, at least th...",0,0,0,23324,233
...,...,...,...,...,...,...,...,...,...
138425,YZz2J4KJeMdEBrFfGubguA,3,2017-12-11,Booked for 7pm on Saturday. Packed with people...,0,0,0,232695,36548
3021109,fpN9Xe2g0TGQDAmeFX8bEw,5,2017-12-11,"The BEST Italian in the University area, perio...",0,0,0,510343,67387
2747817,LKH_RvY-IBycaS11Rwuvrg,5,2017-12-11,It's sooooooo delicious! We had the burning y...,0,0,0,391375,26237
3182828,BDcP8_TQnlu2_dyDAOnCiw,2,2017-12-11,Terrible customer service!! Great food!! Long ...,0,0,0,646835,20195
4360670,nVS-BtozJaGQBgt_NewSBQ,4,2017-12-11,Super chic and clean Italian restaurant. Locat...,13,1,9,710053,38113
2468773,HwknkxC-VA5DmadsZ0PxTg,5,2017-12-11,Very rarely I eat sweets and I decided to take...,0,0,0,352268,1511
5030697,vexefBl7LinbGh5V6soMcw,4,2017-12-11,Came here to this establishment last Friday at...,0,0,0,441633,8411
791131,xiHuKIuQVZawnzrVzWJffw,1,2017-12-11,Very disappoint by a recent experience at this...,0,0,0,69784,50860
581472,XqeehqhpdMny2c-sqXM9IA,5,2017-12-11,Tried this place at the recommendation of my b...,0,0,0,486962,45865
2199722,hkj_S5dCwrQ-1-3V-T7Jnw,1,2017-12-11,Checked this place out because of all the grea...,0,0,0,513375,15938
3021107,aHqjoQOJEwUFjaU9Mww-OA,5,2017-12-11,First impression when walking into the restaur...,0,0,0,510343,19513
1076513,JMWTU7MzrfeSX00kL3g8Lg,4,2017-12-11,Excellent seafood at reasonable prices. Menu i...,0,0,0,228341,63927
849452,HN3UaPzCFZQcAYCVx-Nnxw,5,2017-12-11,Last night I had the best everything! Six of u...,0,0,0,286097,41049
428809,k8NkUWxgT5DHBr-KmQ3tTA,1,2017-12-11,"First and foremost SERVICE could be better, ou...",0,0,0,121392,45303
3466,CLcnlAlJWzNx55qu1dgk8Q,3,2017-12-11,"Overall, the outlets have several nice stores ...",1,1,1,554260,38991
3046610,Y_ZLcFw3xBiTR6ESCUcPzw,2,2017-12-11,Meh - I wasn't impressed by much here. A lot ...,0,0,0,261654,61813
3797044,3IBdD41LCpApxzmGJvTD6g,4,2017-12-11,"Great little ""Saloon."" Live music, good beer,...",0,0,0,113893,9146
3797042,WR-ZpIjwGvQLndbq1IuQKg,4,2017-12-11,"Our kid (29), and his girlfriend, brought us h...",0,0,0,113893,14090
3590477,mX2UJmclMWe_-k04YUB2Yw,1,2017-12-11,Worst return experience ever. I bought somethi...,0,0,0,209367,47496
251854,kK0h1S2fOF80riyJJKOUyQ,3,2017-12-11,Our family went to the Hofbrauhaus to celebrat...,0,0,0,144822,46195
428801,xG3pRgiitzSzCK6speNXZA,1,2017-12-11,decide to give this place another try. this t...,0,0,0,121392,21063
2085895,6DuD2W_gh7toUqUYXrpWqA,1,2017-12-11,Tried out this place using uber eats. Ordered ...,0,0,0,18131,68060
3777074,Bq5I5L_I4mRi1NEX10S1ag,5,2017-12-11,"Ok, so I love Ramen. And it's been hard to fin...",0,0,0,232959,67969
1031482,WjLual5lbjDzsEtY_CNRjw,1,2017-12-11,"Gabe the server was very lazy, unfriendly, and...",0,0,0,236679,64340
2591918,qNgMiZrw7ZOWy8EvJQxYAQ,5,2017-12-11,This was the best ice cream we've ever had!! ...,1,1,0,471603,65764
3406896,WUtSpXuwzI_bBtS62CUYyg,1,2017-12-11,I used all the indian stores in Phoenix area b...,0,0,0,169265,57939
1051918,8QZ3QkyzXpFMtj-IUrL0dQ,1,2017-12-11,Unfortunately my favourite Chinese spot was ac...,0,0,0,341702,1716
37705,H5D0zHZ_GiJXJ-f8mg4M1g,2,2017-12-11,The more I think about this buffet the more di...,0,0,1,168070,531
2419103,lB_qOlPsWPvaR3daVviuNQ,1,2017-12-11,Went earlier this week (mid-week) during Glend...,0,0,0,610088,56354
1836231,sHus5IGWylgQ_87VOSQjSg,5,2017-12-11,Gone are the days of being at the mercy of the...,0,0,0,415903,45439

In [34]:
list_train_business_id = list(train['businessID'])
t = test[test['businessID'].isin(list_train_business_id)]

In [35]:
new_test = t

In [36]:
list_train_user_id = list(train['userID'])
ut = new_test[new_test['userID'].isin(list_train_user_id)]

In [37]:
new_test2 = ut

In [38]:
new_test2.shape

(430409, 11)

In [39]:
train.shape

(2321280, 11)

In [40]:
train_user_review = pd.DataFrame(train.groupby('userID').size(), columns=['num_reviews'])
train_user_review

        num_reviews
userID
0                68
1                 2
4                 1
5                 1
8                 5
9                 6
10                1
11                3
13                5
14               14
17                2
19                2
20                2
21                2
22                2
23                1
24                1
26                1
28                2
33                1
36                3
38                2
39               12
40                3
41                4
42                4
43                1
44                1
46                1
47                2
...             ...
721762            1
721763            2
721764            1
721766            1
721768            1
721769            1
721770           26
721771            1
721774            3
721775            9
721776            6
721777            3
721780            8
721781            1
721782            7
721783            6
721784            2
721785            1
721786            1
721787            1
721791            4
721792            1
721794            1
721797            3
721798            1
721799            1
721801            1
721804            1
721805            1
721806            1

[528211 rows x 1 columns]

In [41]:
train_userID = train_user_review[train_user_review.num_reviews >= 2].index

In [42]:
train = train[train['userID'].isin(train_userID)]

In [43]:
train_bus_review = pd.DataFrame(train.groupby('businessID').size(), columns=['num_reviews'])
train_bus_review

            num_reviews
businessID
0                    21
1                    20
2                   946
3                    22
4                    65
5                     3
6                    29
7                     6
8                    10
9                     4
10                   12
11                   29
12                    4
13                  205
14                   15
15                    4
16                   17
17                   38
18                   53
19                  649
20                    1
21                   18
22                   60
23                   32
24                   14
26                   10
27                    1
28                   21
29                   38
30                    1
...                 ...
68969                48
68970                13
68971                 3
68973                 4
68974                 1
68975                 3
68976                 3
68977                 4
68979                24
68980                 9
68982                21
68983                14
68984                 1
68985                65
68986                47
68987                23
68988                11
68989                 1
68990                89
68991                 6
68992                 3
68993                 2
68994                21
68996                16
68997                32
68998                40
68999                 7
69001                11
69002                35
69003                33

[62453 rows x 1 columns]

In [44]:
train_businessID = train_bus_review[train_bus_review.num_reviews >= 2].index

In [45]:
train = train[train['businessID'].isin(train_businessID)]

In [46]:
train.shape

(2079120, 11)

In [47]:
new_test2.shape

(430409, 11)

In [48]:
train = train.drop(columns=['user_id', 'business_id'])
test = new_test2.drop(columns=['user_id', 'business_id'])

In [49]:
train.shape

(2079120, 9)

In [50]:
test.shape

(430409, 9)

In [51]:
train.head()

,review_id,stars,date,text,useful,funny,cool,userID,businessID
4665147,0QHCY_55TFHHvyumEMpDew,4,2004-10-19,Good stuff. Pricey by normal pizza standards.,0,1,0,584070,62649
4665130,1Iobyi_7BkFON25Oegs0aw,4,2004-10-19,Love their subs. Cheap and top shelf ingredients.,0,0,0,584070,16740
4665146,pho1XNCTeRxQVzWR_5vacg,4,2004-10-19,Pokey Sticks are the best!,0,0,0,584070,12759
4665143,2F5J51OYtD49eyIUKJKVgg,4,2004-10-19,Love their pizza. They used to have a great ta...,0,0,0,584070,56662
1303380,Ef1skKLKZ9izwBmreb_-qw,4,2004-12-19,"Frequently busy due to their great food, but t...",1,1,1,79576,67520

In [52]:
test.head()

,review_id,stars,date,text,useful,funny,cool,userID,businessID
1180491,DDa-dpkuE_LbIFdHIdoHJw,5,2016-07-01,This is by far the best Pho I've had! The brot...,1,0,0,33599,61285
734750,lXbTrDHAspvIDNPeERcEEA,5,2016-07-01,I'm a huge fan of trying different foods off m...,1,1,2,551002,44402
3355833,yCdQily0gmZgFrN_FwFa8Q,1,2016-07-01,One thing I can't stand is poor service. First...,3,0,0,633853,55110
3614410,hn4VaUaOdDx9wjoej42l1A,4,2016-07-01,Finally had a chance to visit this place.\nI h...,4,2,4,325348,15597
1965040,6jLdT1NWrMn9nxY2xVMRNg,4,2016-07-01,This restaurant is literally one of a kind. Ch...,3,1,1,244522,40973

In [54]:
len(train)/(len(test)+len(train))

0.8284901270318056

In [55]:
train_csv = train.to_csv(r'yelp_data/train.csv', index=None,header=True)
test_csv = test.to_csv(r'yelp_data/test.csv', index=None,header=True)